<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{user.name}} {{user.lastName}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Usuário: {{user.name}} {{user.lastName}}</dt>
        <dd></dd>
        <dt>Perfil: {{user.profile}}</dt>
        <dd></dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button class="probutton teste" [routerLink]="['/editar/usuario', user.id]"><mat-icon>edit</mat-icon> Editar</button>
      <button mat-flat-button class="delbutton teste" (click)="deleteUser(user.id)"><mat-icon>delete</mat-icon> Excluir</button>
    </mat-card-actions>
  </mat-card>
</div>