<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <button mat-flat-button color="accent" [routerLink]="['/usuario']"><mat-icon>Listar</mat-icon> Voltar</button>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{user.name}}</h2></mat-card-title>
      <mat-card-subtitle>{{user.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Usuário:</dt>
        <dd>{{user.name}}</dd>
        <dt>{{user.lastName}}</dt>
        <dd>{{user.profile}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="teste" [routerLink]="['/usuario-editar', user.id]"><mat-icon>edit</mat-icon> Editar</button>
      <button mat-flat-button color="warn" (click)="deleteUser(user.id)"><mat-icon>delete</mat-icon> Excluir</button>
    </mat-card-actions>
  </mat-card>
</div>