<div>
  <h3>Editar Produto</h3>
</div>

<form class="example-container" [formGroup]="teacherForm" (ngSubmit)="putTeacher(teacherForm.value)">
  <mat-form-field>
    <input matInput name="name" placeholder="nome" formControlName="name">
    <mat-error>
        É necessário digitar o nome do professor
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  matInput name="lastName" placeholder="sobrenome" formControlName="lastName">
    <mat-error>
        É necessário digitar o sobrenome do professor
    </mat-error>
  </mat-form-field>
  <mat-checkbox class = "example-margin" formControlName="phd" value="true"> 
      <label>Esse professor possui PHD </label> 
  </mat-checkbox>

  <button type="submit" [disabled]="!teacherForm.valid" mat-button color="primary" >Editar</button>
</form>