<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
      <button mat-flat-button color="accent" [routerLink]="['/curso']"><mat-icon>arrow_back</mat-icon> Voltar</button>
    </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{course.name}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Curso: {{course.name}}</dt>
        <dt>Período: {{course.period}}</dt>
        <dt>Cidade: {{course.city}}</dt>
        <dt>Professores:</dt>
        <mat-chip-list>
            <mat-chip *ngFor="let element of course.teacher" [routerLink]="['/professor/', element.id]"> {{element.name}} {{element.lastName}}</mat-chip>
        </mat-chip-list>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="teste" [routerLink]="['/curso-editar', course.id]"><mat-icon>edit</mat-icon> Editar</button>
      <button mat-flat-button color="warn" (click)="deletecourse(course.id)"><mat-icon>delete</mat-icon> Excluir</button>
    </mat-card-actions>
  </mat-card>
</div>