<div>
  <h3>Editar Usuário</h3>
</div>

<form class="example-container" [formGroup]="userForm" (ngSubmit)="putUser(userForm.value)">
  <mat-form-field>
    <input matInput name="name" placeholder="nome" formControlName="name">
    <mat-error>
        É necessário digitar o nome do usuário
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  matInput name="lastName" placeholder="sobrenome" formControlName="lastName">
    <mat-error>
        É necessário digitar o sobrenome do usuário
    </mat-error>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" formControlName="profile">
    <mat-radio-button name="profile" value="admin">Administrador</mat-radio-button>
    <mat-radio-button name="profile" value="guess">Visitante</mat-radio-button>
  </mat-radio-group>
  <button type="submit" [disabled]="!userForm.valid" mat-button color="primary" >Editar</button>
</form>